html, body {
 font-family: calibri;
}
.section {
 border: 1px solid #ddd;
 margin: 1vh;
}
.sub-section {
 display: inline-block;
 margin: 1vh;
 vertical-align: top;
}


.canvas-container {
 position: relative;
 display: inline-block;
}

.subtitle {
  font-family: calibri;
  text-align: center;
  font-weight: bold;
}

.mytables {
 border-collapse: collapse;
 margin-bottom: 1vh;
}
.mytables td {
 border: 1px solid #ddd;
 padding: 0.5vh;
}

input.myinputs {
  width: 100%;
  padding: 3px;
}
.myoutputs {
  text-align: right;
  margin-right: 5px;
}