html, body {
 font-family: calibri;
}
.section {
 border: 1px solid #ddd;
 margin: 1vh;
}
.sub-section {
 display: inline-block;
 margin: 1vh;
 vertical-align: top;
}

canvas {
 border: 1px solid #aaa;
 /* margin: 1vh; */
}
.canvas-container {
 position: relative;
 display: inline-block;
}

.subtitle {
  font-family: calibri;
  text-align: center;
  font-weight: bold;
}

.mytables {
 border-collapse: collapse;
 margin-bottom: 1vh;
}
.mytables td {
 border: 1px solid #ddd;
 padding: 0.5vh;
}